<div class="flex flex-col mx-4 md:mx-56 mt-8">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col">
        <label for="title" class="mb-2">Título</label>
        <input id="title" formControlName="title" class="border border-black rounded w-full md:w-2/4 mb-2" />
        <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="text-red-500 text-sm mb-2">
            <div *ngIf="title?.errors?.['required']">Título é obrigatório.</div>
            <div *ngIf="title?.errors?.['pattern']">Título inválido.</div>
        </div>
        <label for="author" class="mb-2">Autor</label>
        <input id="author" formControlName="author" class="border border-black rounded w-full md:w-2/4 mb-2" />
        <div *ngIf="author?.invalid && (author?.dirty || author?.touched)" class="text-red-500 text-sm mb-2">
            <div *ngIf="author?.errors?.['required']">Autor é obrigatório.</div>
            <div *ngIf="author?.errors?.['pattern']">Autor inválido.</div>
        </div>
        <label for="text" class="mb-2">Texto</label>
        <textarea id="text" formControlName="text" class="border border-black rounded h-56 w-full mb-2"></textarea>
        <div *ngIf="text?.invalid && (text?.dirty || text?.touched)" class="text-red-500 text-sm mb-2">
            <div *ngIf="text?.errors?.['required']">Texto é obrigatório.</div>
        </div>
        <button type="submit" [disabled]="form.invalid" class="border border-black bg-blue-600 w-full md:w-1/12 text-center justify-center rounded mt-5">
            Enviar
        </button>
    </form>
    <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">{{ errorMessage }}</div>

</div>
